*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  min-width: 390px;
  max-width: 430px;
}
html,
body,
#root {
  height: 100%;
}
img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
}
